/*@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');*/

@font-face {
font-family: 'rajdhani';
src: url(../Police/Rajdhani-Medium.ttf);
}
:root{
    --yellow-color: #ffff00;
    --yellow-light: #f8f184; 
    --bleu-color: #19587D; 
    --white-color: #ffffff;
    ---black-light: #0D0E09;
    ---black-color: #000000; 
    --red-color: #B11313;  
     --gradient-white: #eddebf; 
    --gradient-red: #890009; 
    --gradient-bleu:#19587D;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 400;
}
button{
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
}
.container{
    width: 80%;
    margin: 0 auto ;
}
body{
    background-color: #000000ee;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
}

/*design de la navigation*/
nav{
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    padding: 30px 0 ;
}
ul{
    list-style: none;
}
  nav ul a{
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Rajdhani';
/*text-decoration: none;*/
}
nav ul a:hover{
    color: var(--yellow-color)
}
/*disign de la partie hero*/
#hero{
    background-image: url(../Illustrations/Bathome1.png) ;
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #19587D;
    background-size: cover;
}

#hero .content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}
#hero .titre{
    margin: 20px 0;
}
#hero .texte{
    margin-bottom: 40px;
    text-align: justify;
    width: 80% 23px;
    font-size: 21px;
}
#hero .cta .btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 20px;
    margin-top: 10px;
    background: linear-gradient(80deg, var(--gradient-white), var(--gradient-red) );
    box-shadow:var(---black-color) 5px 5px 60px;
}
#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 285px;
}
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 230px;   
}
.scroll .social{
    margin-top: 15px;
}
/* designe de la section batman personnage */
#batman-cinema{
    margin-top: 40px;
}
.batman-personnage{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
#batman-cinema .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}
#batman-cinema .texte{
    margin-bottom: 40px;
    text-align: justify;
    width: 80% 23px;
    font-size: 21px;
}
#batman-cinema .personnage-info{
    text-align: center;
}
/*design nemesis*/
#bat-nemesis{
    margin-top: 40px;
}
#bat-nemesis .nemesis-personnage{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
#bat-nemesis .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}
#bat-nemesis .texte{
    margin-bottom: 40px;
    text-align: justify;
    width: 80% 23px;
    font-size: 21px;
}
#bat-nemesis .personnage-info{
    text-align: center;
}

/*designe allies*/
#bat-allies{
    margin-top: 40px;
}
#bat-allies .batman-allies
{
display: flex;
justify-content: space-between;
margin: 0px;
padding: 0px;
}
#bat-allies .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}
#bat-allies .texte{
    margin-bottom: 40px;
    text-align: justify;
    width: 80% 23px;
    font-size: 21px;
}
#bat-allies .personnage-info{
    text-align: center;
}
/* designe Justice league */
#bat-justice{
    margin-top: 40px;
}
#bat-justice .justice-league{
    justify-content: center;
    display:flex ;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#bat-justice .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}
#bat-justice  .texte{
    margin-bottom: 40px;
    text-align: justify;
    width: 80% 23px;
    font-size: 21px;
}
/*designe multimedia*/
#multimedia  button{
position: relative;
top: 150px;
background: none;
border: none;
}
#multimedia  button.right{
    right: -85%;
}
#multimedia .slider-multimedia{
    display: flex;
    width: 60%;
    margin: 40px auto;
}
#multimedia .slider-image{
    width: 100%;
}
#multimedia .slider-content{
    padding: 15px;
    background: linear-gradient(80deg, var(--gradient-white), var(--gradient-bleu) );
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
}
#multimedia P{
    font-size: 15px;
}
#multimedia .yellow{
    color: var(--yellow-color);
}
/*designe de la partie contact*/
#contact{
    background: linear-gradient(80deg, var(--gradient-white), var(--gradient-bleu) );
    padding: 70px 0;
}
#contact .form{
    width: 50%;
    margin: 0 auto;
}
#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}
#contact .titre{
    display: block;
    margin: 28px 0;
}
#contact .form input[type='email'], textarea{
display: block;
border-top: none;
border-right: none;
border-left: none;
width: 80%;
border-bottom: 2px solid ;
background-color: transparent;
padding: 10px 0;
}
    
